{% raw %}{% macro render(options) %}{% endraw %}
  <div class="{{name.hyphensPrefixed}}">
    <div class="{{name.hyphensPrefixed}}__some-element"> 
    </div>
  </div>
{% raw %}{% endmacro %}{% endraw %}